
  .post-content {

    .post-items {
      text-align: center;

      .post-item {
        text-align: center
      }
    }
  }


.posts_edit_form {
  margin-top: 5%;

  .nav_button_edit {
    margin-top: 10%;
  }
}
